/* Start */
body {

}

#content {
  position:relative;
}
/* Text Types */
h1 {
  font-size: 100px;
  color: white;
  font-family: trebuchet ms;
}

h2 {
  font-size: 25px;
  color: white;
  font-family: trebuchet ms;
}

p {
  font-family: trebuchet ms;
  font-size: 50px;
  color: white;
}
/* Menu Items */
.menuITEMS {
  position: relative;
  left: 50%;
  margin: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.746);
  width: 80%;
  height: 70px;
  transform: translate(-50%, -0%);
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
  transition: 0.5s;
  background-color: rgba(31, 31, 31, 0.581);
}

.menuITEMS:hover {
  width: 84%;
  border-radius: 50px;
}
/* Positions */
.leftcorner {
  position: absolute;
        top: 0px;
        left: 0px;
}

.rightcorner {
  position: absolute;
        top: 0px;
        right: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
